* {
	margin: 0px;
	padding: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: text;
	-ms-user-select: none;
	user-select: none;
	/*-webkit-transform:translate3d(0,0,0);*/
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }

body {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {text-decoration: none;}
a:link {text-decoration: none;}
a:active {text-decoration: none;}

.background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	/* fallback */
	background-color: #D6D6D6;
	/*background-image: url(images/radial_bg.png);*/
	background-position: center center;
	background-repeat: no-repeat;
	/* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F6F6F6), to(#676767));
	/* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(ellipse, #F6F6F6, #676767);
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(ellipse, #F6F6F6, #676767) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	/* IE 10 */ background: -ms-radial-gradient(ellipse, #F6F6F6, #676767);
	background: radial-gradient(ellipse, #F6F6F6, #676767) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.backTile {
	position: absolute;
	width: 16px;
	overflow: hidden;
	height: 16px;
	display: block;
	opacity: .4;
}

.scene {
	margin: auto;
	width: 256px;
	height: 256px;
	perspective: 600px;
	-webkit-perspective: 600px;
	position: relative;
	top: 150px;
	left: 0px;
}

.cube {
	position: relative;
	width: inherit;
	height: inherit;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-transition: -webkit-transform 1s ease 0s;

	transform: rotateX(-90deg) rotateY(30deg) rotateZ(0deg);
	-webkit-transform: rotateX(-90deg) rotateY(30deg) rotateZ(0deg);

	-moz-user-select: text;
	-webkit-backface-visibility: hidden;
}

.cube-face {
	width: inherit;
	height: inherit;
	position: absolute;
	background-color: red;
	/*opacity: 0.8;*/
}

.tile {
	position: absolute;
	width: 32px;
	overflow: hidden;
	height: 32px;
	display: block;
}

.cubeContent {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 60%;
	top: 30%;
	left: 0px;
	z-index: 5;
	cursor: pointer;
}

.cubeContent.about {
	top: 10%;
}

.cubeTitle {
	/*font-family: 'bebas_neueregular', sans-serif;*/
	/*font-family: 'franchiseregular', sans-serif;*/
	font-family: 'steelfish_rgregular', sans-serif;
	font-weight: bold;
	font-size: 70px;
	color: white;
	text-transform: uppercase;
}

.profilePic {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid white;
	position: relative;
	margin: 10px auto auto;
}

.cube-face-front {
	background-color: yellow;
	transform: translate3d(0, 0, 128px);
	-webkit-transform: translate3d(0, 0, 128px);
}

.cube-face-back {
	background-color: orange;
	transform: rotateY(180deg) translate3d(0, 0, 128px);
	-webkit-transform: rotateY(180deg) translate3d(0, 0, 128px);
}

.cube-face-right {
	background-color: magenta;
	transform: rotateY(90deg) translate3d(0, 0, 128px);
	-webkit-transform: rotateY(90deg) translate3d(0, 0, 128px);
}

.cube-face-bottom {
	background-color: green;
	transform: rotateX(-90deg) translate3d(0, 0, 128px);
	-webkit-transform: rotateX(-90deg) translate3d(0, 0, 128px);
}

.cube-face-top {
	background-color: blue;
	transform: rotateX(90deg) translate3d(0, 0, 128px);
	-webkit-transform: rotateX(90deg) translate3d(0, 0, 128px);
}

.cube-face-left {
	background-color: red;
	transform: rotateY(-90deg) translate3d(0, 0, 128px);
	-webkit-transform: rotateY(-90deg) translate3d(0, 0, 128px);
}

.cube {
	cursor: move;
}

img.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: text;
	-ms-user-select: none;
	user-select: none;
}