* {
	margin: 0px;
	padding: 0px;
}

body {
}

a {
	text-decoration: none;
	color: black;
	outline: 0;
}

a:visited {text-decoration: none;}
a:link {text-decoration: none;}
a:active {text-decoration: none;}

.background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	/* fallback */
	background-color: #D6D6D6;
	/*background-image: url(images/radial_bg.png);*/
	background-position: center center;
	background-repeat: no-repeat;
	/* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F6F6F6), to(#676767));
	/* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(ellipse, #F6F6F6, #676767);
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(ellipse, #F6F6F6, #676767) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	/* IE 10 */ background: -ms-radial-gradient(ellipse, #F6F6F6, #676767);
	background: radial-gradient(ellipse, #F6F6F6, #676767) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.backTile {
	position: absolute;
	width: 16px;
	overflow: hidden;
	height: 16px;
	display: block;
	opacity: .4;
}

.sceneMini {
	/*margin: auto;*/
	width: 64px;
	height: 64px;
	perspective: 600px;
	-webkit-perspective: 600px;
	position: relative;
	top: 32px;
	left: 32px;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

#cubeNav {
	position: relative;
	width: inherit;
	height: inherit;
	top: 0px;
	left: 0px;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: transform 0.6s;
	-webkit-transition: -webkit-transform 0.6s ease 0s;

	-moz-user-select: none;
	cursor: pointer;
}

.about {
	transform: rotateX(85deg) rotateY(225deg) rotateZ(180deg);
	-webkit-transform: rotateX(85deg) rotateY(225deg) rotateZ(180deg);
}

.about.extra {
	transform: rotateX(85deg) rotateY(45deg) rotateZ(180deg);
	-webkit-transform: rotateX(85deg) rotateY(45deg) rotateZ(180deg);
}

.blog {
	transform: rotateX(85deg) rotateY(225deg) rotateZ(-90deg);
	-webkit-transform: rotateX(85deg) rotateY(225deg) rotateZ(-90deg);
}

.blog.extra {
	transform: rotateX(85deg) rotateY(45deg) rotateZ(-90deg);
	-webkit-transform: rotateX(85deg) rotateY(45deg) rotateZ(-90deg);
}

.work {
	transform: rotateX(178deg) rotateY(180deg) rotateZ(-43deg);
	-webkit-transform: rotateX(178deg) rotateY(180deg) rotateZ(-43deg);
}

.work.extra {
	transform: rotateX(178deg) rotateY(180deg) rotateZ(137deg);
	-webkit-transform: rotateX(178deg) rotateY(180deg) rotateZ(137deg);
}

.resume {
	transform: rotateX(178deg) rotateY(0deg) rotateZ(-47deg);
	-webkit-transform: rotateX(178deg) rotateY(0deg) rotateZ(-47deg);
}

.resume.extra {
	transform: rotateX(178deg) rotateY(0deg) rotateZ(133deg);
	-webkit-transform: rotateX(178deg) rotateY(0deg) rotateZ(133deg);
}

.contact {
	transform: rotateX(85deg) rotateY(225deg) rotateZ(90deg);
	-webkit-transform: rotateX(85deg) rotateY(225deg) rotateZ(90deg);
}

.contact.extra {
	transform: rotateX(85deg) rotateY(45deg) rotateZ(90deg);
	-webkit-transform: rotateX(85deg) rotateY(45deg) rotateZ(90deg);
}

.coolStuff {
	transform: rotateX(85deg) rotateY(225deg) rotateZ(0deg);
	-webkit-transform: rotateX(85deg) rotateY(225deg) rotateZ(0deg);
}

.coolStuff.extra {
	transform: rotateX(85deg) rotateY(45deg) rotateZ(0deg);
	-webkit-transform: rotateX(85deg) rotateY(45deg) rotateZ(0deg);
}

.cube-face {
	width: inherit;
	height: inherit;
	position: absolute;
	background-color: red;
	/*opacity: 0.8;*/
}

.tile {
	position: absolute;
	width: 4px;
	overflow: hidden;
	height: 4px;
	display: block;
}

.cubeContent {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 60%;
	top: 20%;
	left: 0px;
	z-index: 5;
	cursor: pointer;
}

.cubeTitle {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 50px;
	color: white;
	opacity: .9;
}

.profilePic {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid white;
	position: relative;
	margin: 10px auto auto;
}

.cube-face-front {
	background-color: yellow;
	transform: translate3d(0, 0, 32px);
	-webkit-transform: translate3d(0, 0, 32px);
}

.cube-face-back {
	background-color: orange;
	transform: rotateY(180deg) translate3d(0, 0, 32px);
	-webkit-transform: rotateY(180deg) translate3d(0, 0, 32px);
}

.cube-face-right {
	background-color: magenta;
	transform: rotateY(90deg) translate3d(0, 0, 32px);
	-webkit-transform: rotateY(90deg) translate3d(0, 0, 32px);
}

.cube-face-bottom {
	background-color: green;
	transform: rotateX(-90deg) translate3d(0, 0, 32px);
	-webkit-transform: rotateX(-90deg) translate3d(0, 0, 32px);
}

.cube-face-top {
	background-color: blue;
	transform: rotateX(90deg) translate3d(0, 0, 32px);
	-webkit-transform: rotateX(90deg) translate3d(0, 0, 32px);
}

.cube-face-left {
	background-color: red;
	transform: rotateY(-90deg) translate3d(0, 0, 32px);
	-webkit-transform: rotateY(-90deg) translate3d(0, 0, 32px);
}

div.content {
	width: 100%;
	position: absolute;
	height: 300px;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#cubeCover {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 130px;
	height: 130px;
	display: block;
	cursor: pointer;
}

#banner-container {
	left: 111px;
	position: absolute;
	top: 48px;
	height: 40px;
	width: 100%;
	overflow: hidden;
}

#banner-left {
	position: absolute;
	top: 0px;
	left: 0px;
}

#banner-left:before {
	border: 20px solid rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
}

#banner-left:before {
	border-left-color: rgba(0, 0, 0, 0);
	border-right-width: 0;
}

#banner-right {
	height: 40px;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	top: 0px;
	left: 20px;
	display: block;
}

div.navItem {
	margin-left: 30px;
	position: relative;
	float: left;
	top: 0px;
	left: 0px;
	height: 40px;
	/*overflow: hidden;*/
}

div.navItem a {
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
	font-size: 28px;
	line-height: 40px;
	font-family: 'steelfish_rgregular', sans-serif;
	font-weight: bold;
	text-shadow: none;
	transition: text-shadow 0.2s;
	text-transform: uppercase;
}

div.navItem a:hover, div.navItem a.selected {
	text-shadow: 1px 0px 15px white;
	color: white;
}

div.page {
	position: relative;
	top: 140px;
	left: 4%;
	width: 92%;
	display: block;
	color: white;
	margin-bottom: 400px;
	font-family: sans-serif;
}

div.page.full {
	background: rgba(0,0,0,.7);
	overflow: hidden;
}

/*about page css*/
div.aboutTop {
	position: relative;
	width: 98%;
	padding: 1%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	display: block;
	clear: both;
	background: rgba(0,0,0,.7);
}

div.aboutLeft {
	float: left;
    left: 0;
    margin-left: 1%;
    max-width: 250px;
    overflow: hidden;
    padding: 1%;
    position: relative;
    top: 0;
    width: 31%;
}

div.aboutLeft img {
	border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
}

div.aboutRight {
	float: left;
    left: 0;
    margin-left: 1%;
    overflow: hidden;
    padding: 1%;
    position: relative;
    text-align: center;
    top: 0;
    width: 60%;
}

h1.aboutTitle {
    font-size: 40px;
    margin-top: 20px;
    text-transform: uppercase;
}

h3.aboutSubtitle {
    font-size: 22px;
}

div.aboutBody {
    font-size: 18px;
    margin-left: 5%;
    margin-top: 10px;
    position: relative;
    width: 90%;
}

h1.pageTitle {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 20px;
    padding-top: 10px;
    position: relative;
    text-align: center;
}


/*work page css*/
div.pageBody {
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	clear: both;
	overflow: hidden;
	display: block;
}

div.pageRow {
	background-color: rgba(0, 0, 0, 0.7);
    clear: both;
    left: 0;
    margin-bottom: 30px;
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    top: 0;
    width: 98%;
    padding-top: 10px;
    padding-bottom: 30px;
}

div.pageRowLeft {
	display: block;
    float: left;
    left: 0;
    margin-bottom: 20px;
    max-width: 250px;
    padding: 1%;
    position: relative;
    text-align: center;
    top: 0;
    width: 28%;
}

div.pageRowLeft img {
	width: 100%;
	margin: auto;
	position: relative;
}

div.pageRowRight {
	display: block;
    float: left;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 1%;
    position: relative;
    text-align: left;
    width: 68%;
}

span.jobName {
	font-size: 22px;
	font-weight: bold;
	margin-right: 10px;
	color: white;
	transition: color .2s;
	-webkit-transition: color .2s;
}

span.jobName:hover {
	color: #86dfea;
}

span.jobTitle {
	font-size: 20px;
	margin-left: 10px;
}

p.jobSummary {
	font-size: 15px;
	margin-top: 10px;
	clear: both;
}

.jobLink {
	font-size: 16px;
	display: block;
	margin-top: 5px;
	font-weight: bold;
	color: #AAE4EB;
	text-align: right;
	transition: color .2s;
	-webkit-transition: color .2s;
}

a.jobLink:hover {
	color: #86dfea;
}

div.pageRowFooter {
	clear: both;
	width: 80%;
	margin: auto;
	position: relative;
	overflow: hidden;
}

div.pageRowFooter img {
	position: absolute;
	width: 70px;
	border-radius: 35px;
	border: 1px solid white;
	top: 0px;
	left: 0px;
	margin-bottom: 5px;
}

p.quote {
	display: block;
	position: relative;
	font-size: 20px;
    font-style: italic;
    margin-bottom: 5px;
    min-height: 70px;
    margin-left: 90px;
    margin-top: 5px;
}

p.attributed {
	font-style: 16px;
	clear: both;
}

/*resume page css*/
iframe.resumeViewer {
	height: 1000px;
    left: 0;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-top: 20px;
    position: relative;
    top: 0;
    width: 96%;
}


/*DESIGN PAGE CSS*/
div.designTop {
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	clear: both;
	overflow: hidden;
	display: block;
	background: rgba(0,0,0,.7);
	margin-bottom: 20px;
}

div.designTop h2 {
	font-size: 28px;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

div.designTop h4 {
	font-size: 14px;
	margin-left: 10px;
	margin-top: 5px;
	position: relative;
	margin-bottom: 10px;
	margin-right: 10px;
}

div.designsContainer {
	width: 100%;
	position: relative;
	overflow: hidden;
	display: block;
	text-align: center;
}

div.designBox {
	/*text-align: center;*/
	background: rgba(0,0,0,.7);
	width: 28%;
	/*height: 250px;*/
	display: inline-block;
	margin: 1%;
	/*padding: 5px;*/
	overflow: hidden;
	position: relative;
	padding: 1%;
}

div.designImage {
	position: relative;
	width: 100%;
	display: block;
	border: 1px solid white;
	cursor: pointer;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#lightBox {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 200;
	top: 0px;
	left: 0px;
	text-align: center;
	cursor: pointer;
}

div.lightBoxDirection {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0px;
	display: block;
}

#lightBoxLeft {
	left: 0px;
}
#lightBoxRight {
	left: 50%;
}

.lightBoxArrow {
	background-size: auto 35px;
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
    height: 35px;
    margin-top: -17px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 35px;
}

#lightBoxArrowLeft {
	left: 5px;
	background-image: url('../images/left.png');
}
#lightBoxArrowRight {
	right: 5px;
	background-image: url('../images/right.png');
}

div.lightBoxDirection:hover div.lightBoxArrow {
	display: block;
}

#lightBoxImage {
	display: block;
	background-position: center center;
	background-size: contain;
	width: 80%;
	height: 80%;
	position: relative;
	top: 10%;
	left: 10%;
	background-repeat: no-repeat;
	overflow: hidden;
}

#lightBoxX {
	font-family: 'quicksandbold', sans-serif;
	font-size: 40px;
	line-height: 40px;
	position: absolute;
	top: 5px;
	right: 10px;
	color: white;
	z-index: 300;
}

#lightBoxX:hover {
	color: #AAE4EB;
}

#lightBoxComment {
	color: white;
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	left: 10%;
	width: 80%;
	font-family: sans-serif;
	text-align: center;
}

/*CONTACT page*/
h2.contactTitle {
	font-size: 28px;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

h4.contactSubtitle {
	font-size: 14px;
	margin-left: 10px;
	margin-top: 5px;
	position: relative;
	margin-right: 10px;
}

div.contactOptions {
	margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

div.contactOption {
	display: inline-block;
	position: relative;
	margin: 10px;
	overflow: hidden;
	color: white;
}

div.contactOption a {
	color: white;
}
div.contactOption a:hover {
	color: #AAE4EB;
}

div.contactOption img {
	float: left;
    height: 50px;
    left: 0;
    margin-right: 10px;
    position: relative;
    top: 0;
}

div.contactOption div {
	float: left;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    line-height: 50px;
    position: relative;
    top: 0;
}



